<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mapper.DepartmentMapper">
    <resultMap id="myDepartment" type="department">
        <id property="dId" column="did"/>
        <result property="deptName" column="dept_name"/>
        <!--<collection property="employees" select="com.kk.mapper.EmployeeMapper.selectEmployeeListByDeptDid" column="dId" fetchType="lazy"/>-->
        <collection property="employees" ofType="employee">
            <id property="eId" column="eid"/>
            <result property="empName" column="emp_name"/>
            <result property="age" column="age"/>
            <result property="sex" column="sex"/>
            <result property="email" column="email"/>
        </collection>
    </resultMap>
    <select id="selectDepartmentByDId" resultMap="myDepartment">
        select * from t_dept left join t_emp on t_dept.did = t_emp.did
    </select>
</mapper>