<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mapper.StudentMapper">
    <insert id="insertStudent">
        insert into student(`id`, `name`, `age`) values(4, "pat", 21)
    </insert>
    <delete id="deleteStudent">
        delete from student where id = 4
    </delete>
    <update id="updateStudent">
        update student set `name` = "cat" where id = 4
    </update>
    <!--在配置文件中加入了 typeAliases 起了别名所以不需要-->
    <select id="selectStudent" resultType="student">
        select * from student where id = 4
    </select>
    <!--<select id="selectStudentByName" resultType="student">
        select * from student where name = #{name}
    </select>
    <select id="selectStudentByName" resultType="student">
        select * from student where name = '${name}'
    </select>-->
    <!--<select id="selectStudentByName" resultType="student">
        select * from student where name = '${arg0}'
    </select>-->
    <!--<select id="selectStudentByName" resultType="student">
        select * from student where name = '${name}'
    </select>-->
    <select id="selectStudentByName" resultType="student">
        select * from student where name = #{arg0}
    </select>
    <!--<select id="selectStudentByName" resultType="student">
        select * from student where name = #{param1}
    </select>-->
    <select id="selectStudentByNameAndAge" resultType="student">
        select * from student where `name` = #{name} and age = #{age}
    </select>
    <select id="selectStudentByStudent" resultType="student">
        select * from student where id = #{id} and `name` = #{name} and age = #{age}
    </select>
</mapper>